{% render 'partials/head.liquid' %}

<article class="business-card">
  <article class="card-padding">
    <article class="avatar-card">
      <!-- Naam -->
      <h1 class="name">Fatima el Hilali</h1>

      <!-- Profielfoto -->
      <img src="/assets/fati.jpg" alt="Foto van Fatima el Hilali" class="profile-photo" id="profile-photo" />

      <p>FDND Student</p>
    </article>

    <section class="skills">
      <article class="quote-card">
        <p>"Mijn skills en expertise in webtechnologie."</p>
      </article>
      <article class="skill html">
        <p>★ ★ ★ HTML - De basis van elke website!</p>
      </article>
      <article class="skill css">
        <p>★ ★ ★ CSS - Zorgt voor een mooi ontwerp!</p>
      </article>
      <article class="skill js">
        <p>★ ★ JavaScript - Maakt de pagina levendig!</p>
      </article>
    </section>
  </article>

  <article class="footer-card">
  </article>
</article>

{% render 'partials/foot.liquid' %}
