<h1>Data-Driven Web</h1>
<p>Ik ben dus {{ person.name }}</p>

<p>Het is vandaag {{ 'now' | date: "%d %B %y"}}</p>

<p>Mijn favorite film is: {{person.custom.favorite-film}}<p>
 <details><summary>Data</summary><pre>{{ person | json:4 }}</pre></details>